@model CakeStore.Models.LoginViewModel
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var userName = $("#userName");

            userName.keydown(function (event) {
                var s = userName.val();
                if (event.keyCode == '13') {
                    $.ajax({
                        url: '@Url.Action("StartSession")',
                        type: 'POST',
                        dataType: 'JSON',
                        contentType: 'application/JSON',
                        data: "{userName:'" + s + "'}",
                        success: function (result) {
                            $("#orderForm").css("visibility", "visible");
                            $("#loginForm").hide();
                        }
                    });
                }
            })
        });
    </script>
    <script type="text/javascript">
        $(function () {
            var connection = $.connection('progress');
            connection.received(function (data) {
                $('#messages').append('<li>' + data + '</li>');
            });
            $("#orderCake").click(
                function () {
                    connection.send();
                });
            connection.start();
        });
    </script>
}
@{
    ViewBag.Title = "Home Page";
}
<div id="mainForm">
    @{
        string formVisibility = "visible";
        if (!Model.IsLoggedIn)
        {
            formVisibility = "collapse";
        <div id="loginForm">
            <text>Your name?</text>
            <input type="text" id="userName" />
        </div>
        }
     
        <div style="visibility:@formVisibility" id="orderForm">
            <input type="button" value="Order Cake" id="orderCake" />
        </div>
        
        <div id="messages">
        </div>
    }
</div>
