@model CakeStore.Models.LoginViewModel
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var userName = $("#userName");

            userName.keydown(function (event) {
                var s = userName.val();
                if (event.keyCode == '13') {
                    $.ajax({
                        url: '@Url.Action("StartSession")',
                        type: 'POST',
                        dataType: 'JSON',
                        contentType: 'application/JSON',
                        data: "{userName:'" + s + "'}",
                        success: function (result) {
                            $("#orderForm").css("visibility", "visible");
                            $("#loginForm").hide();
                        }
                    });
                }
            })
        });
    </script>
}
@{
    ViewBag.Title = "Home Page";
}
<div id="mainForm">
    @{
        string formVisibility = "visible";
        if (!Model.IsLoggedIn)
        {
            formVisibility = "collapse";
            <div id="loginForm">
                <text>Your name?</text>
                <input type="text" id="userName" />
            </div>
        }
     
        <div style="visibility:@formVisibility" id="orderForm">
            @using (Html.BeginForm("OrderCake","Home"))
            {
                <input type="submit" value="Order Cake" />
            }
        </div>
    }
</div>
