@model CakeStore.Models.LoginViewModel
       
@{
    ViewBag.Title = "Home Page";
}

<div id="mainForm">
@{
    if (Model.IsLoggedIn){
        <input type ="button" value="Order Cake" />
    }
    else    {
        @:Your name?
        <input type = "text" id="userName"/>
    }
}

</div>
